.container{
  display: flex;
  flex-direction: column;
  width: 100%;

  label{
    margin-bottom: 5px;
  }
  input{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f8c870;
    padding: 5px 15px;
    margin: 10px 0;
    background-color: transparent;
    outline-color: #f8b470;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

}