.courses {
  width: 100%;
  border: solid 2px #70e4f8;
  padding: 20px;
  margin-top: 0;

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}