.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 2px #70e4f8;
  padding: 20px;
  margin-top: 0;
  height: 70vh;

  h3{
    margin-bottom: 30px;
  }

  form{
    width: 350px;
  }
  p{
    margin: 30px 0;
    .login{
      cursor: pointer;
      color: #0095ff;
      &:hover{
        color: #002aff;
      }
    }
  }

}